<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138903380012-ql0ir073kvdonmr2eddkl8v31iqsbtiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138903380012-ql0ir073kvdonmr2eddkl8v31iqsbtiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDP6Wq58J1UAWb-HdqCjfiDOautS4PKmOI</string>
	<key>GCM_SENDER_ID</key>
	<string>138903380012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sekolah.dataSiswa</string>
	<key>PROJECT_ID</key>
	<string>mobile-project-d3604</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-project-d3604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138903380012:ios:ac682bc42e9311e8ed3189</string>
</dict>
</plist>