<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138903380012-mb2gk4b3homud27suvcbprs8tm1tne0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138903380012-mb2gk4b3homud27suvcbprs8tm1tne0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDP6Wq58J1UAWb-HdqCjfiDOautS4PKmOI</string>
	<key>GCM_SENDER_ID</key>
	<string>138903380012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sekolah.dataSiswa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobile-project-d3604</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-project-d3604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138903380012:ios:3b8258cc27f56430ed3189</string>
</dict>
</plist>